body {
    background: #ffffff;
}

/* div.header {
    height: 100px;
} */


@media screen and (min-width: 950px) {
    .header-content{
        max-height: 80px;
    }
}
.color-1A2B58 {
    color: #1a2b58 !important;
}

.table-order {
    width: calc(100vh - 80px);
}

.bg-header-order {
    /* background-color: #001A8D; */
}
#payModal .modal-header span.select2-container {
    margin: auto 0 !important;
    max-width: 50%;
}
#payModal button.add-new-member {
    min-width: 90px;
    background-color: #e5e9f7 !important;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #1c3b58;
    height: 30px;
    margin: auto 10px;
    align-self: stretch;
}
.list-category {
    display: flex;
    white-space: nowrap;
    padding: 5px;
}

.bg-001a8d {
    background-color: #001a8d;
}

.list-name-discount, .list-name-extra{
    color: #000084;
    font-weight: 500;
    display: inline-block;
    max-width: calc(100% - 91px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

button.btn-category {
    background-color: #e5e9f7;
    flex: 0 0 auto;
    padding: 10px 15px !important;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    white-space: nowrap;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #2C2C34CC;
    border-radius: 10px;
    text-transform: uppercase;
    transition: .3s ease all;
    border: 1px solid transparent;
}

.btn-category span {
    display: none;
}

.btn-category.active,
.btn-category:hover {
    background-color: #6e6e73f2;
    color: white;
}

.sidebar-order {
    height: calc(100vh - 70px);
    width: 70px;
}

.menu-item-order {
    width: 100%;
    height: 150px;
}

.note_order {
    color: #737373;
    /* font-style: italic; */
}

.note_order i{
    width: 12px;
}

.product_commission {
    color: #737373;
    /* font-style: italic; */
}

.product_commission i{
    width: 12px;
}

.btn-option,
.btn-option:hover {
    background-color: #ededed;
}

.form-check {
    /* gap: 10px !important; */
    font-size: 17px;
}
.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.list-order h6 {
    text-wrap: initial;
}
.custom_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
b.order_wait_pay {
    margin-bottom: 0;
    font-size: 18px !important;
}
.select2-dropdown {
    min-width: 150px !important;
}
.st_percent {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background-color: #00c40a !important;
    color: #fff !important;
}

.st_select_percent {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.st_select_percent select,
.st_select_percent select :focus {
    background-color: #ff9800 !important;
    color: #fff !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    max-width: 50px !important;
    width: 50px !important;
}

.st_select_percent option {
    color: #fff !important;
}

img.img-qr-code {
    width: 300px;
}

.hide {
    display: none;
}
.text-font-size {
    font-size: 18px;
}
.box_table {
    display: flex;
    flex-wrap: wrap;
    /* Cho phép xuống dòng khi hết chiều rộng */
    justify-content: flex-start;
    /* Canh các phần tử về bên trái */
    width: 50%;
    max-height: 500px;
    overflow-y: auto;
}

.table_payment {
    flex: 0 1 auto;
    /* Tùy thuộc vào nội dung, phần tử sẽ tự co giãn */
    margin: 10px;
    /* Khoảng cách giữa các phần tử */
    min-width: 200px;
    /* Đảm bảo mỗi phần tử con có kích thước tối thiểu */
    border: 1px solid #0c3344;
    background: #277799;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.table_payment span,
.table_payment p,
.table_payment b {
    margin: auto 0;
}

.table_payment p {
    font-size: larger;
    font-weight: 300;
    padding: 0 5px;
}

.check_payment {
    width: 50%;
    display: flex;
}
.delete_order i {
    color: #f34131 !important;
    font-weight: bold;
    font-size: 22px;
}
.chose_more i {
    font-weight: bold;
    font-size: 21px;
}
.loader {
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 255, 0.24);
    border-top-color: #2c7df7;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1.2s linear infinite;
}
.absolute-bg-out_of_stock {
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}
.absolute-bg-out_of_stock span {
    text-align: center;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

.img_qr_code_form {
    width: 180px;
    /* height: 180px; */
}

.check-container {
    width: 6.25rem;
    height: 7.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
        0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.1s ease-out forwards 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.5s forwards 0.5s ease-out;
}

.check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(
        closest-side,
        rgba(73, 218, 131, 1),
        transparent
    );
    animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    25% {
        opacity: 1;
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    43.75% {
        transform: scale(1.15);
        box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }

    62.5% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }

    81.25% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
            0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateShadow {
    0% {
        opacity: 0;
        width: 100%;
        height: 15%;
    }

    25% {
        opacity: 0.25;
    }

    43.75% {
        width: 40%;
        height: 7%;
        opacity: 0.35;
    }

    100% {
        width: 85%;
        height: 15%;
        opacity: 0.25;
    }
}

.loader,
.payment_success {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* Thêm hiệu ứng transition */
}

.loader.show,
.payment_success.show {
    opacity: 1;
}

.loader.d-none,
.payment_success.d-none {
    display: none;
}
.change_sale_price {
    max-width: 85px;
    width: 100%;
    text-align: right;
}

/* Ẩn nút tăng giảm trong trình duyệt Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ẩn nút tăng giảm trong Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Ẩn nút tăng giảm trong Internet Explorer */
input[type="number"]::-ms-clear {
    display: none;
}

.change_list_table {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-height: 97vh;
}

.modal-body {
    flex: 1 1 auto;
    overflow-y: auto;
    /* padding-top: 0 !important; */
}

.product_name .more_name {
    word-break: break-word;
    white-space: normal;
    text-transform: uppercase;
    font-size: 16px;
}

.custom-select {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}

.custom-select option {
    text-align: center;
}
.table {
    table-layout: fixed;
}

.mh_menu .table th,
.mh_menu .table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
.mh_menu .table th:nth-child(1),
.mh_menu .table td:nth-child(1) {
    width: 36%;
    padding-left: 5px !important;
    padding-right: 2px !important;
}
.mh_menu .table th:nth-child(2),
.mh_menu .table td:nth-child(2) {
    width: 20%;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.mh_menu .table th:nth-child(3),
.mh_menu .table td:nth-child(3) {
    width: 20%;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.mh_menu .table th:nth-child(4),
.mh_menu .table td:nth-child(4) {
    width: 18%;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.mh_menu .table th:nth-child(5),
.mh_menu .table td:nth-child(5) {
    width: 6%;
    padding-left: 2px !important;
    padding-right: 5px !important;
}
.text-note-cus {
    color: #7a7a7a;
    font-size: 14px;
}
.text-header-payment {
    font-weight: bold;
    /* font-size: 1rem!important; */
}
.style_price {
    font-weight: bold;
    font-size: 1rem !important;
}
.text-italic {
    font-style: italic !important;
}
.modal-body select.select_custom {
    border-radius: 0;
    color: black !important;
    border: 1px solid #33333338 !important;
    width: 100% !important; 
}

.custom_checkbox {
    /* change default input is hidden */
    appearance: none;
    border-radius: 0;
    /* margin-left: 10px; */
    width: 20px;
    height: 20px;
    border: 1px solid #33333338 !important;
    /* background: #dadada38; */
    padding: 2px;
}
.custom_checkbox::before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 12px 12px orange;
    transform-origin: bottom left;
    clip-path: polygon(12% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
}
input[type="checkbox"].custom_checkbox:checked::before {
    transform: scale(1);
}
.st_select_percent select:disabled {
    background-color: var(--bs-secondary-bg) !important;
    color: black !important;
    opacity: 0.6;
    border: 1px solid #c3c3c338 !important;
}
.modal-body select.select_custom:disabled {
    opacity: 0.6;
}
.customForm {
    width: 130px;
}
.customForm input {
    border-radius: 0;
    color: black !important;
    border: 1px solid #33333338 !important;
}
.customForm input:disabled {
    color: #999 !important;
}
.customForm select {
    border-radius: 0;
    border: 1px solid #33333338 !important;
}
#payModal span.select2 {
    width: 100% !important;
}

#payModal td {
    padding: 3px 1px;
}

#list-order-pay td {
    text-wrap: auto;
    padding: 8px !important;
}

.info_pay {
    padding: 10px 0;
}

#list-order-pay .name_product_cs {
    word-wrap: break-word;
    white-space: normal;
}
.form-select-type
    .select2-container
    .select2-selection--multiple
    .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    /* gap: 4px;  */
    margin-bottom: 0;
}

.form-select-type
    .select2-container
    .select2-selection--multiple
    .select2-selection__choice {
    white-space: normal;
    word-break: break-word;
    max-width: 100%;
}
/* #payModal .btn_payment_child {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    max-width: 210px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
} */
.btn_payment_child.active {
    opacity: 1;
}
.btn_payment_child img {
    height: 20px;
    /* height: 20px; */
}
.btn_cash {
    color: #feefd1;
}
.btn_cash.active {
    background-color: #feefd1;
}
.btn_cash.active2 {
    border: 1px solid #f29220 !important;
    background-color: #feefd1;
    color: #f29220;
}
.btn_cash.active2 img {
    color: #f29220;
}

.select2-results__option[title="Warning"] {
    color: #ecc516 !important;
}
.select2-results__option[id*="Warning"] {
    color: #ecc516 !important;
}
.box-textarea-cus {
    position: relative;
    display: inline-block;
    width: 100%;
}
.box-textarea-cus textarea {
    width: 100%;
    height: 100px;
    padding-bottom: 15px; /* Tạo khoảng trống để không che mất chữ */
    resize: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.box-textarea-cus .char-counter {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 14px;
    color: #939393;
    pointer-events: none; /* Không ảnh hưởng khi click */
}

.select2-container .select2-selection--single {
    width: auto;
    min-height: 35px;
    opacity: 1;
}

span.select2-selection__arrow {
    color: #fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    min-height: 35px;
}

.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single {
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 30px !important;
}

.btn-category2 {
    border: none !important;
    color: #1a2b58 !important;
    background-color: #ffffff !important;
    font-weight: 500;
    font-size: 1rem !important;
}
.btn-category2.active,
.btn-category2:hover {
    color: #ffffff !important;
    background-color: #1c2c58 !important;
}

.tab-content-order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.tab-content-order .item-content-order {
    padding: 8px;
    border: 1px solid #cdd1e0;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 16 / 6, 3;
    position: relative;
}

.tab-content-order .item-content-head {
    height: 50px;
    text-align: center;
}
#show_order {
    z-index: 999999;
}
.tab-content-order .item-content-total {
    font-weight: 500;
    font-size: 20px;
    color: #f29220;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.time-using {
    /* position: absolute;
    left: 2%; */
}

.order-using {
    position: absolute;
    right: 30%;
    top: 20px;
    transform: translate(-50%, 0);
}



.income-expense-container .table {
    table-layout: auto;
}

.modal-body select.select-new-custom {
    border-radius: var(--bs-border-radius);
}

/* .modal-body select.select-new-custom:disabled {
    color: #999 !important;
} */

.custom_checkbox {
}

.custom_checkbox::before {
    content: none;
}

@media screen and (max-width: 1280px) {
    .cus-footer {
        bottom: 0 !important; 
    }
}
